body {
    background: #f8f8f8
}

.menu li a {
    color: darkblue;
    font-style: italic;
    font-size: 20px;
    list-style-type: none;
}

.menu li a:hover {
    color: #1896FF;
}

.fulldescr {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.fulldiscrlist {
    font-style: italic;
    background: #eeeeee;
    list-style-type: circle;
}

input[type="text"] {
    width: 250px;
    height: 20px;
    color: darkblue;
    font-size: 14px;
    font-style: italic;
    text-transform: capitalize;
}

input[type="email"] {
    width: 250px;
    height: 20px;
    color: darkblue;
    font-size: 14px;
    font-style: italic;
}

input[type="email"]:focus {
    color: green;
    background: lightgray;
}

textarea {
    width: 250px;
    height: 120px;
    color: darkblue;
    font-size: 14px;
    font-style: italic;
}
